.card-header {
	i {
		right: 1em;
	    position: absolute;
	}
}

.check {
	right: 0.9em;
    position: absolute;
    top: 35%;
    font-size: 1.1rem;
}

.background-success {
    background: lightgoldenrodyellow;
}

.header {
	padding-left: 2rem;
	img {
		width: 15em;
		border: none;
	}
}

@media only screen and (max-device-width : 640px) {
	.header {
		margin: 0 auto;
		img {
			width: 15em;
			border: none;
			margin: 0 6px;
		}
	}
}

//overide papers css
.card:hover {
  -webkit-box-shadow: 2px 8px 8px -5px rgba(0,0,0,.3) !important;
  -moz-box-shadow: 2px 8px 8px -5px rgba(0,0,0,.3) !important;
  box-shadow: 2px 8px 8px -5px rgba(0,0,0,.3) !important;
  -webkit-transform: none;
}


